version: '3'

services:
  rb:
    image: rabbitmq:latest
    container_name: rmq 
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15671:15671"
      - "25672:25672"
      - "4369:4369"
    depends_on:
      - express-photos
  mongodb:
    image: mongo:latest
    container_name: week1_mongodb_api
    volumes:
      - mongodb_data:/data/db1
    ports:
      - "27017:27017"
  express:
    build:
      context: ./week1
      dockerfile: Dockerfile
    container_name: week1_express
    environment:
      MONGO_URL: "mongodb://mongodb:27017"
      DB_NAME: "mydb"
      MQ: "amqp://rb"
      MQ_QUE: "q"
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
        
  mongodb-photos:
    image: mongo:latest
    container_name: mongodb_api_photos
    volumes:
      - mongodb_data:/data/db2
    ports:
      - "27018:27017"

  express-photos:
    build:
      context: ./photos
      dockerfile: Dockerfile
    container_name: photos_express
    environment:
      MONGO_URL: "mongodb://mongodb-photos:27017"
      DB_NAME: "mydb"
      MQ: "amqp://rb"
      MQ_QUE: "q"
    ports:
      - "3002:3002"
    depends_on:
      - mongodb-photos

  prometheus:
    build:
      context: ./prometheus
      dockerfile: Dockerfile
    ports:
      - 9090:9090

  grafana:
    build: ./graphana
    ports:
      - "3003:3000"

  mongodb-exporter:
    image: bitnami/mongodb-exporter:latest
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/mydb
    ports:
      - "4002:9216"

  mongodb-exporter-express-photos:
    image: bitnami/mongodb-exporter:latest
    environment:
      - MONGODB_URI=mongodb://mongodb-photos:27017/mydb
    ports:
      - "4003:9216"

volumes:
  mongodb_data:
